@page "/login"
@using GymApp.Services.UserService
@using GymApp.Models
@inject NavigationManager Navigation
@inject IUserService UserService
@rendermode InteractiveServer

<div class="login-container">
    <h2>Login</h2>

    <div class="form-group">
        <label for="username">Username</label>
        <input id="username" type="text" @bind="_user.Username" class="form-control" @onkeydown="HandleKeyPress" />
        @if (_showUsernameError)
        {
            <p class="validation-message">Username is required.</p>
        }
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" @bind="_user.Password" class="form-control" @onkeydown="HandleKeyPress" />
        @if (_showPasswordError)
        {
            <p class="validation-message">Password is required.</p>
        }
    </div>

    <div class="button-container">
        <button class="btn btn-secondary" @onclick="HandleSubmit">Login</button>
    </div>

    @if (!string.IsNullOrEmpty(_errorMessage))
    {
        <p class="error-message">@_errorMessage</p>
    }
</div>

@code {
    private GymApp.Models.User _user = new User(0,"", "");
    private string? _errorMessage;
    private bool _showUsernameError;
    private bool _showPasswordError;

    private async void HandleSubmit()
    {
        ValidateForm();

        if (_showUsernameError || _showPasswordError)
        {
            _errorMessage = "Please fill in all required fields.";
            return;
        }

        Dictionary<string, object> jwt = await UserService.LoginUser(_user.Username, _user.Password);
        
        if (jwt.ContainsKey("jwt"))
        {
            Navigation.NavigateTo("/home");
            Console.Write("we did something\n");
        }
        else
        {
            _errorMessage = "Invalid username or password.";
        }
    }

    private void HandleKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            HandleSubmit();
        }
    }

    private void ValidateForm()
    {
        _showUsernameError = string.IsNullOrEmpty(_user.Username);
        _showPasswordError = string.IsNullOrEmpty(_user.Password);
    }

}
